<html>

<head>
    <title>CRUD using REDIS</title>
    <style>
        .colset {
            -webkit-column-count: 3;
            /* Chrome, Safari, Opera */
            -moz-column-count: 3;
            /* Firefox */
            column-count: 3;
        }

        .head {
            text-align: center;
        }

        table {
            width: 100%;
        }
        .fixedhight{
            height: 200px;
        }

        table,
        th,
        td {
            border: 1px solid black;
            border-collapse: collapse;
        }

        th,
        td {
            padding: 15px;
            text-align: left;
        }

        table#t01 tr:nth-child(even) {
            background-color: #eee;
        }

        table tr:nth-child(odd) {
            background-color: #fff;
        }

        table th {
            background-color: black;
            color: white;
        }
    </style>
</head>

<body>
    <div class="head">
        <h1>Docker Demo Web App</h1>
    </div>
    <div class="colset">
        <form method="POST">
            {{ cform.hidden_tag() }}
            <fieldset class="fixedhight">
                <legend>Create Task</legend>
                {{ cform.title.label }}<br>
                {{ cform.title }}<br>
                {{ cform.shortdesc.label }}<br>
                {{ cform.shortdesc }}<br>
                {{ cform.priority.label }}<br>
                {{ cform.priority }}<br><br>
                {{ cform.create }}
            </fieldset>
        </form>
        <form method="POST">
            {{ uform.hidden_tag() }}
            <fieldset class="fixedhight">
                <legend>Update task</legend>
                {{ uform.key.label }}
                {{ uform.key }}<br>
                {{ uform.title.label }}
                {{ uform.title }}<br>
                {{ uform.shortdesc.label }}
                {{ uform.shortdesc }}<br>
                {{ uform.priority.label }}
                {{ uform.priority }}<br><br>
                {{ uform.update }}
            </fieldset>
        </form>
        <form method="POST">
            {{ dform.hidden_tag() }}
            <fieldset class="fixedhight">
                <legend>Delete Task</legend>
                {{ dform.key.label }}<br>
                {{ dform.key }}<br>
                <br>
                <br>
                <br>
                <br>
                {{ dform.delete }}
            </fieldset>
        </form>
    </div>
    <form method="POST">
        {{ reset.hidden_tag() }}
        <b>Reset All Data: </b> {{ reset.reset }}
    </form>
    <br>

    <b>Tasks List:</b><br><br>
    <table style="width:100%;height:200px; overflow: scroll;">
        <tr>
            <th>Keys</th>
            <th>Title</th>
            <th>Description</th>
            <th>Priority</th>
        </tr>

        {% for i in keys %}
        {% if i!='id' %}
        <tr>
            <td> {{ i }}</td>
            <td>{{ val[i]["title"] }}</td>
            <td>{{ val[i]["shortdesc"] }}</td>
            <td>{{ val[i]["priority"] }}</td>
        </tr>
        {% endif %}
        {% endfor %}
    </table>
</body>

</html>